<!DOCTYPE html>
{% load mathfilters %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% load static %}
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assign Task</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <style>
    table, th, td {
    border: 5px solid black;
    padding:15px;
    font-weight:bold;
    text-align:center;
    font-size:16px;
    border-collapse:collapse;
    }
    tr:hover {
  background-color:#f5f5f5;
}


.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  border: 1px solid #ddd;
  float: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 22px;

}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;
  border-radius: 5px;
}



    </style>

    <script>
    function f1(s1,id){
    var myDate = new Date();
    var d = myDate.toLocaleTimeString('en-US', { hour12: true, hour: "numeric", minute: "numeric"}).toLowerCase();
    let monthsList = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Aug', 'Oct', 'Nov', 'Dec'];
    let date = myDate.getDate();
    let month = monthsList[myDate.getMonth()];
    let year = myDate.getFullYear();
    let today = `${month} ${date}, ${year}`;

    document.getElementById(id).innerHTML = `Reviewer: `+s1+`\n<div style="color:blue;font-size:14px;">`+`Date&Time: `+today+`, `+d+`</div>`;
    }
    function f2(id){
    document.getElementById(id).innerHTML = "" ;
    }

    function myFunction1(id,op,idp,link,cname) {
      $(document).ready(function(){
      var id1=id;
      var id2=op.toString();
      var id3=idp.toString();
      if (document.getElementById(id2).style.backgroundColor != "lightgrey"){
        $.ajax({
        type:"POST",
        url : '{% url 'del_data' %}',
        data:{
        'id1':id1,
        },
        success:
        function(){
        document.getElementById(id2).style.backgroundColor = "lightgrey";
        document.getElementById(id2).innerHTML='Assign';
        f2(id3);
        },
        headers:{"X-CSRFToken":"{{ csrf_token}}"},
        });
      }
      else{
      myFunction(link,id,cname,op,idp);
      }
     });
   }

    function myFunction(link,id,cname,op,idp) {
      $(document).ready(function(){
      var name = cname;
      var li=link;
      var id1=id;
      var id2=op.toString();
      var id3=idp.toString();
      if (document.getElementById(id2).style.backgroundColor != "lightgreen"){
        $.ajax({
        type:"POST",
        url : '{% url 'impdata' %}',
        data:{
        'name': name,
        'li':li,
        'id1':id1,
        },
        success:
        function(cname){
        document.getElementById(id2).style.backgroundColor = "lightgreen";
        document.getElementById(id2).innerHTML='Unassign';
        f1(cname,id3);
        },
        headers:{"X-CSRFToken":"{{ csrf_token}}"},
        });
      }
    else{
    myFunction1(id,op,id3,link,cname);
    }
        });
    }
</script>

</head>
<body>



    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'images/miet.jpg' %}" style="width:90%;border-radius:7px;" />
                    </a>
                </div>

                 <span class="logout-spn" >
                  <a href="logout_admin" style="color:#fff;">LOGOUT</a>

                </span>
            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="login_dashboard2" ><i class="fa fa-desktop "></i>Dashboard </a>
                    </li>


                    <li >
                        <a href="user_registration"><i class="fa fa-table "></i>Register Users</a>
                    </li>
                    <li class="active-link">
                        <a href="assign_task"><i class="fa fa-table "></i>Assign Task</a>
                    </li>


                    <li>
                        <a href="check_status"><i class="fa fa-bar-chart-o "></i>Check Status</a>
                    </li>
                    <li>
                        <a href="see_user"><i class="fa fa-bar-chart-o"></i>See Users</a>
                    </li>
                    <li>
                        <a href="show_id"><i class="fa fa-bar-chart-o"></i>Show ID-Cards</a>
                    </li>

                    <li>
                        <a href="About_us"><i class="fa fa-edit "></i>About Us</a>
                    </li>
                    <li>
                        <a href="feedback"><i class="fa fa-edit "></i>Feedback</a>
                    </li>
                    <li>
                        <a href="change_password"><i class="fa fa-key "></i>Reset Passkey</a>
                    </li>
                </ul>
                            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Assign Task </h2>
                    </div>
                </div>
                 <!-- /. ROW  -->
                  <hr />
              <table cellpadding="5%" style="width: 90%;">
<colgroup>
       <col span="1" style="width: 5%;">
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 15%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 20%;">
</colgroup>
<tr>
<th>IDs</th>
<th>Files</th>
<th >Assigned to</th>
<th >status</th>
<th>Assigned</th>
</tr>
{% for i in f1 %}
<tr>
<td>
{{f1.number|add:'-1'|mul:10|add:forloop.counter}}
</td>
<td>
    <a href="{{i}}" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/400px-PDF_file_icon.svg.png" alt="File unavailable" style="height:auto; width:50%; padding-left:2%;"></a>
</td>
<td>
    <select class="w3-button" style=" width:20rem;border:3px solid black; text-align:center;padding:10px;font weight:bold;font-size:20px;border-radius:10px;" name="cname1" id="{{f1.number|add:'-1'|mul:10|add:forloop.counter}}">
        {% for i in l1 %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
    <!--option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option-->
  </select>
<!--input type="text" id="{{f1.number|add:'-1'|mul:10|add:forloop.counter}}" name="cname1"-->
</td>

{% if f1.number|add:'-1'|mul:10|add:forloop.counter in l5.keys %}
{% for key, value in l5.items %}
{% if key == f1.number|add:'-1'|mul:10|add:forloop.parentloop.counter %}
    <td>
    <button style="background-color:lightgreen; border:3px solid black; text-align:center;padding:10px;font weight:bold;font-size:20px;border-radius:10px;" id="{{f1.number|add:8|mul:10|add:forloop.parentloop.counter}}" onclick="myFunction1('{{f1.number|add:'-1'|mul:10|add:forloop.parentloop.counter}}','{{f1.number|add:8|mul:10|add:forloop.parentloop.counter}}','{{f1.number|add:9|mul:10|add:forloop.parentloop.counter}}','{{i}}',document.getElementById('{{f1.number|add:'-1'|mul:10|add:forloop.parentloop.counter}}').value)">Unassign</button>
    </td>
    <td>
<div id="{{f1.number|add:9|mul:10|add:forloop.parentloop.counter}}">Reviewer: {{value.0}}<br><div style="color:blue;font-size:14px;">Date&Time: {{value.1}}</div></div>

</td>
{% endif %}
{% endfor %}
{% else %}
<td>
    <button style=" border:3px solid black; text-align:center;padding:10px;font weight:bold;font-size:20px;border-radius:10px;" id="{{f1.number|mul:10|add:forloop.counter}}" onclick="myFunction('{{i}}','{{f1.number|add:'-1'|mul:10|add:forloop.counter}}',document.getElementById('{{f1.number|add:'-1'|mul:10|add:forloop.counter}}').value,'{{f1.number|mul:10|add:forloop.counter}}','{{f1.number|add:'2'|mul:10|add:forloop.counter}}')">Assign</button>
</td>
<td>
<div id="{{f1.number|add:'2'|mul:10|add:forloop.counter}}"></div>
</td>
{% endif %}

<!--td>
    <button id="{{f1.number|mul:10|add:forloop.counter}}" onclick="myFunction('{{i}}','{{f1.number|add:'-1'|mul:10|add:forloop.counter}}',document.getElementById('{{f1.number|add:'-1'|mul:10|add:forloop.counter}}').value,'{{f1.number|mul:10|add:forloop.counter}}','{{f1.number|add:'2'|mul:10|add:forloop.counter}}')">Assigned</button>
</td-->
</tr>
{% endfor %}
</table>
<center>
    <div class="pagination">
            {% if f1.has_previous %}
            <a href="?page=1"><<</a>
            <a href="?page={{f1.previous_page_number}}"><</a>
            {% endif %}
            {% for num in f1.paginator.page_range %}
                {% if f1.number == num %}
                    <a><strong>{{ num }}</strong></a>
                {% elif num > f1.number|add:'-2' and num < f1.number|add:'2' %}
    <a>{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if f1.has_next %}
                <a href="?page={{ f1.next_page_number }}">></a>
                <a href="?page={{ f1.paginator.num_pages }}">>></a>
            {% endif %}


</div>
</center>
                 <!-- /. ROW  -->
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
    <div class="footer">


             <div class="row">
                <div class="col-lg-12" >
                   Copyright © 2021 <a href="http://mietcsi.tech" style="color:#fff;"  target="_blank">www.mietcsi.tech</a> All right reserved.
                </div>
        </div>
        </div>


     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>


</body>
</html>
